.DS_Store
.vscode/

.ewp.*
.projectchecksums
.projectlinkstore

*.cache
*.ccache
*.clangd
*.log
*.orig
*.porig
*.rej
*.tmp
*~

build*/

*.bin
*.elf
*.gbl
*.hex
*.lst
*.map
*.out
*.s37

compile_commands.json

config/api/
*.Makefile
*.project.mak
*.ewd
*.ewp
*.eww
*.ipcf
*.slcp.*
zcl_config.zap

**/.slc_state/

update-images/
__pycache__
.venv/
