[submodule "gecko-sdk-v3.0"]
	path = gecko-sdk-v3.0
	url = https://github.com/qosmio/gecko-sdk-v3.0.git
[submodule "EM3555-osram-rgbw-flex"]
	path = EM3555-osram-rgbw-flex
	url = https://github.com/qosmio/EM3555-osram-rgbw-flex
[submodule "zigbee-herdsman-converters"]
	path = zigbee-herdsman-converters
	url = https://github.com/Koenkk/zigbee-herdsman-converters
[submodule "zigbee-OTA"]
	path = zigbee-OTA
	url = https://github.com/Koenkk/zigbee-OTA
